/* Main page elements */
.container {
  width: 80%;
}

/* List of products */
.products {  
  list-style: none;
  /*display: inline-block;*/
  width: 80%;
}

.products li {
  border: 1px solid black;
  padding: 3px;
  background-color: #EEE;
}