/******************************
     Main page elements 
******************************/
body {
  background-color: #EFEEED;
}
.container {
  width: 80%;
}

/******************************
       List of products
******************************/
.products {  
  list-style: none;
  width: 90%;
}

.products li {
  border: 1px solid black;
  padding: 3px;
  background-color: #EEE;
}

/******************************
        Individual Products
******************************/
.product {
  background-color: #efefef;
  border: 1px solid black;
  height: 175px;
  width: 225px;
  margin-bottom: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.productHeader {
  background-color: #006dcc;
  font-size: 14pt;
  color: white;
  padding: 5px;
}

.outOfStock {
  opacity: 0.5;
}

.product-sku {
  float: left;
  width: 30%;
  margin: 10px;
  text-align: center;
  padding-right: 5px;
  background-color: #FFF;
}
/******************************
           Cart 
******************************/
.orange {
  color: orange;
}

.cart li {
  display: inline-block;
  padding-right: 20px;
}
/******************************
          Images
******************************/
.front-icon {
  height: 159px;
  width: 145px;
}