<!-- Empty cart -->
<div ng-show="items < 1">Your cart is currently empty..</div>
<!-- Items in the shopping cart -->
<div class='cart-products-box'>
  <table class="cart-table" ng-repeat='item in items'>
    <tr>
      <td>
      <a href="/#/products/{{item._id}}">
      {{item.name}}
      </a>
      </td>
      <td class="cart-table-qty">{{item.quantity}}</td>
      <td>price: {{item.price | currency:"£"}}</td>
      <td><button ng-click='removeFromCart(item)'>Remove from cart</button></td>
    </tr>
  </table>
  <!-- list of vouchers applied -->
  <div ng-hide="vouchers < 1" class='voucher-holder'>
    <div> Vouchers applied:</div>
    <table class="voucher-table" ng-repeat="voucher in vouchers">
      <tr>
        <td></td>
        <td>{{voucher.code}}</td>
        <td>{{voucher.discount | currency: "£"}}</td>
      </tr>
    </table>
  </div>
  <!-- total -->
  <div ng-hide="items < 1" id='totalPrice' class="orange">Total: {{totalCartPrice() | currency:"£"}}</div>
</div>
<!-- apply vouchers section -->
<div ng-hide="items < 1">
  <input type="text" ng-model="voucherCode">
  <button ng-click='applyVoucher(voucherCode)'>Apply Voucher</button></br>
  <div id='voucherMessage' ng-show="voucherMessage">{{voucherMessage}}</div>
  <div class="btn-group-vertical">
    <button class="btn btn-xlg btn-warning ng-click-active" ng-click="applyVoucher('SHOP5OFF')"> 5£ OFF entire shop </button>
    <button class="btn btn-xlg btn-warning ng-click-active" ng-click="applyVoucher('10OVER50')"> 10£ OFF for spendings over 50£ </button>
    <button class="btn btn-xlg btn-warning ng-click-active" ng-click="applyVoucher('15OVER75SHOES')"> 15£ OFF when spending over 75£ and buying men's footwear</button>
  </div>
</div>