  <div ng-hide='productNotFound' class="product">
      <div class="row">
        <div class="product-header" id="productHeader">
          {{product.name}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="product-photo-box">
            <img class="img-responsive" ng-src="{{product.images[0]}}"/><br>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="product-info-box">
            <p class="product-name">{{product.name}}</p>
            <p class="product-color">{{product.color}}</p>
            <p class="product-price-holder">{{product.price | currency:"£"}}</p>
            <p>Category: {{product.category.name}}</p>
            <p>Quantity: {{product.quantity}}</p>
            <!-- TODO: inject cart service into products controller -->
            <button class="btn btn-block pull-left btn-xlg btn-warning ng-click-active" ng-click='addToCart(product)'>Add to Cart</button>
          </div>
        </div>
      </div>
  </div>
  <div ng-show='productNotFound'>Product not found.</div>