<!-- List of products available -->

<div ng-repeat="product in products">
  <div class="product-sku" ng-class="{'outOfStock': product.quantity == 0}">
    <h4><a href="#/products/{{product._id}}">{{product.name}}</a></h4>
    <p>{{product.color}}</p>
    <img class="front-icon" ng-src="{{product.images[0]}}"/><br>
    <em id='productQuantity' class='pull-right'>price: {{product.price | currency}}</em>
    <p>quantity: {{product.quantity}}</p>
    <button ng-click='addToCart(product)'>Add to cart</button>
    <button ng-click='removeFromCart(product)'>Remove from cart</button>
  </div>
</div>
