/******************************
     Main page elements 
******************************/
body {
  background-color: #A9E2FF;
}

.container {
  width: 80%;
}

.orange {
  color: orange;
}

/******************************
  Page view: Individual Products
******************************/

.product-header {
  font-size: 30pt;
  color: white;
  text-align: center;
}

.product-info-box {
  float: left;
  background-color: #FFF;
  font-family: savoyregular;
  padding: 5px;
}

.product-name {
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 0px;
}
.product-color {
  font-family: p22_undergroundlight!important;
}

.product-price-holder {
  border-bottom: 1px solid #000;
  text-align: left;
  font-size: 35px;
}

.product-photo-box {
  text-align: center;
}

/***********************************
  Front Page: Individual Products
***********************************/


.outOfStock {
  opacity: 0.75;
}

.product-holder {
  background-color: #FFF; 
  font-family: savoyregular;
  text-align: center;
  margin-top: 10px;
  padding: 5px;
}

.product-details {
  font-family: "Helvetica Neue","Helvetica";
  background-color: #FAFAFA;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  padding-bottom: 30px;
  padding-top: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.links:hover { 
    color: orange;
    text-decoration: none;
}

.product-box {
  min-height: 290px;
}

.button-box {
  clear: both;
}
/******************************
           Cart 
******************************/

.cart-products-box {
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: #FFF;
}

.cart-table {
  width: 100%;
  border-bottom: 1px solid #EEE;
}

.cart-table tr td {
  padding: 8px;
  overflow: hidden;
  width: 150px;
}

.cart-table-qty {
  width: 100px;
  text-align: center;
}

.voucher-table tr td {
  width: 150px; 
}

.voucher-holder {
  font-family: "Helvetica Neue","Helvetica";
  background-color: #FAFAFA;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}

#totalPrice {
  font-size: 20px;
  border-top: 1px solid #EAEAEA;
}
/******************************
          Images
******************************/
.front-icon {
  height: 159px;
  width: 145px;
}

/*******************************
    Bootstrap navbar change
********************************/
.navbar-inverse .navbar-text {
  color: orange;
}

.navbar-inverse .navbar-text:hover {
  text-decoration: none;
  color: #FFF;
}

.navbar-text:hover {
  text-decoration: none;
  color: #FFF;
}

.navbar-inverse .navbar-brand {
  text-decoration: none;
  color: orange;
}